## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [1]:
ordered_list = ["1. Python", "2. R", "3. SQL"]
for lang in ordered_list:
    print(lang)

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

In [2]:
libraries = ["1. Numpy","2. Pandas", "3. Matplotlib"]
for lib in libraries:
    print(lib)

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Apache Zeppelin        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

x = (3 * 4) + 5
print(x)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min = 200
min_in_hour = 60
hours = min/min_in_hour
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create tables using Markdown and Python  
- Understand open-source tools used in Data Science  
- Evaluate arithmetic expressions in Python

## Author

Zuqaqambe Ngomti